<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.tdc.ltdd2">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CDDD2">

        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.ChangePasswordActivity"
            android:screenOrientation="portrait" />

        <!-- Warehouse Management -->
        <activity android:name="vn.edu.tdc.ltdd2.activitys.MainQLKActivity" />
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.ListProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.ListManuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.ListCateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.DetailProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.DetailEditProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.DetailInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.ListPromoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.DetailPromoCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.InformationPromoCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.OrderCoordinationActivity"
            android:screenOrientation="portrait" />
        <!-- Administrators -->
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.MainADMActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.ListAccountActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.ListHistoryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.OrderHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.DetailOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.RevenueStatisticActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.ListRatingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="vn.edu.tdc.ltdd2.activitys.DetailRatingActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>